<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/base.css" rel="stylesheet" />
    <title>To-Do lists</title>
</head>
<body>
   <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3 jumbotron">
          <div class="text-center">
            <h2>{% block header_text %}{% endblock header_text %}</h2>
            <form method="POST" action="{% block form_action %}{% endblock form_action %}">
              {{ form.text }}
              {% csrf_token %}
              {% if form.errors %}
                <div class="form-group has-error">
                    <div class="help-block">{{ form.text.errors }}</div>
                </div>
              {% endif %}
            </form>
          </div>
        </div>
      </div>

       <div class="row">
         <div class="col-md-6 col-md-offset-3">
          {% block table %}
          {% endblock table %}
         </div>
       </div>
       
   </div>
</body>
</html>